.red-border {
    background-color: red;
}

.selected {
    background-color: lightblue;
}

.history {
    background-color: #dddddd;
}

body {
    color: black;
    margin: auto;
    width: 1024px;
    font-family:  Verdana;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    cursor: wait;
    z-index: 1;
}

#splash_loading {
    background-image: url("blank_splash.gif");
    height: 34px;
    width: 82px;
    padding: 66px 0 0 68px;
    text-align: left;
    font-family: Tahoma, Arial, Verdana, Tahoma, serif;
    font-size: 10px;
    font-weight: bold;
    color: #777;
    cursor: wait;
}

.debug {
    /*font-size: 0.7em;    */
}

#ly_bg {
    position: fixed;
    left: 0;
    top: 0;
}

#ly_head, #ly_foot, #ly_center {
    position: fixed;
    border: 1px solid #aaa;
    width: 1024px;
    color: #aaa;
}

#ly_head {
    height: 150px;
    background: url("logo.gif") no-repeat 25px 0;
    top: 0;
}

#ly_center {
    bottom: 90px;
    border: 1px solid black;
    top: 155px;
    color: black;
}

#content {
    margin: 0 5px;
    height: 100%;
}

#ly_foot, #ly_foot table {
    font-size: 12px;
    bottom: 2px;
    height: 85px;
}

#ly_foot a {
    color: #88a;
    text-decoration: none;
}

.logotable {
    padding: 20px;
    background: white;
    margin-top: 30px;
}

.logotable img {
    padding: 10px;
}